# Description: Environment variables for MaxKB
COMPOSE_PROJECT_NAME=1p

# Database
DB_HOST=postgresql
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=maxkb

# Web 访问端口
HTTP_PORT=8080

# MaxKB 版本
VERSION=latest

# MaxKB 数据目录
VOLUME_DIR=./data